<h1> Welcome to GardenKeeper!</h1>
<h3>Please select an option to continue. </h3>

<%= link_to "login", login_path %>
<br>
<%= link_to "signup", signup_path %>
<br>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %>
<br>
<% if logged_in? %>
<%= link_to "homepage", homepage_path %>
<% end %>
