<h1> Log-in to your GardenKeeper account! </h1>
<br><br>
<%= display_flash %>
<br><br>
<%= form_for :user do |f| %>
    <%= render partial: '/layouts/form', locals: {object_name: f} %>
    <%= f.submit "Login to account" %>
<% end %>