<h1>About GardenKeeper</h1>
<p>This site lets gardeners and regular plant-lovers keep track of their plants and however many gardens they tend to.</p>


Your most recent garden was created at: <%= last_garden %>