<h1>  Welcome to GardenKeeper, <%= current_user.name.capitalize %>! </h1>
<br><br>

<% if current_user.gardens.empty? %>
<p> Please create a garden to get started. </p>
<%= link_to "create garden", new_user_garden_path(current_user) %>

<% else %>
<%= link_to "view my gardens", user_gardens_path(current_user) %>
|| <%= link_to "add new garden", new_user_garden_path(current_user) %>
<% end %> 

<br>