<div>
<h1> <%= @plant.name %> page </h1>
</div>


<div>
<h4> Description: <%= @plant.description %></h4>
</div>

<div class="sidebar">
 <% @plant.users.each do |user| %>
    <% unless user == current_user %>
       <p> <%= user.name %> also has this plant! </p>
        <br>
        <p> <%= link_to "View all plants", plants_path %></p>
    <% end %>
    <% end %>
</div>
