<h1> plant show page </h1>
<h2><%= @plant.name %></h2>
<h4><%= @plant.description %></h4>
<%= button_to "Delete plant", user_plant_path(current_user, @plant), method: :delete %><br><br>

<p> Add your plant to a garden! </p>
<%= link_to 'create garden', new_user_garden_path(current_user) %>